﻿@using PagedList.Mvc;
@using PagedList;

@* file uploader *@
<h4>Transaction Files Upload</h4>

@using (Html.BeginForm("ImportExcel", "TransactionFiles", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-inline">
        <div class="form-group">
            <select id="TransactionFileList" class="form-control" name="TransactionFileList">
                <option value="0">-Select Master File to Upload-</option>
                <option value="AccountLevelChannelPSITF">Account Level Channel PSI Transaction File</option>
                <option value="AP1ForecastTransactionTF">AP1 Forecast Transaction File</option>
                <option value="AP2PSITF">AP2 PSI Transaction File</option>
                <option value="ExchangeRateTF">Exchange Rate Transaction File</option>
                <option value="FlooringTargetTF">Flooring Target Transaction File</option>
                <option value="FlooringSiteTF">Flooring Site Transaction File</option>
                <option value="GrossNetPriceTF">Gross & Net Price Transaction File</option>
                <option value="KPIAP1FAProductGroupTF">KPI AP1 FA Product Group Transaction File</option>
                <option value="KPIAP2FAProductGroupTF">KPI AP2 FA Product Group Transaction File</option>
                <option value="KPIAccountSellOutFATF">KPI Account Sell-Out FA Transaction File</option>
                <option value="SalesTargetTF">Sales Target Transaction File</option>
                <option value="SellInSellOutTargetTF">Sell-In & Sell-Out Target Transaction File</option>
                <option value="SellInBillingTF">Sell-In Billing Transaction File</option>
                <option value="SellInGITF">Sell-In GI Transaction File</option>
                <option value="SellOutInventoryTF">Sell-Out & Inventory Transaction File</option>
                <option value="SellOutTF">Sell-Out Transaction File</option>
                <option value="TIMTF">TIM Transaction File</option>
                <option value="WOSTransactionTF">WOS Transaction File</option>
            </select>
        </div>
        <div class="form-group">
            <input type="file" id="dataFile" name="upload" class="form-control"/>
        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
}
<hr />
@* list of transactions *@
@*<table class="table table-responsive">*@
    @*<thead style="background:#0689d8;color:white;">
        <tr >
            <th>
                ID
            </th>
            <th>
                File
            </th>
            <th>
                Date Created
            </th>
            <th>
                Created By
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in ViewBag.OnePageOfItems)
        {
            <tr>
                <th>@items.ID</th>
                <th>@items.File</th>
                <th>@items.DateCreated</th>
                <th>@items.CreatedBy</th>
                <th><a href='@Url.Action("Delete", new { TransID = items.ID, FileType = items.File })' class="btn btn-danger">Delete</a> &nbsp;<a href='@Url.Action("Download", new { TransID = items.ID, FileType = items.FileType })' class="btn btn-info">Download</a></th>
            </tr>
        }
    </tbody>
</table>*@


<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@*@Html.PagedListPager((IPagedList)ViewBag.OnePageOfItems, page => Url.Action("Index", new { page }))*@
