﻿@model SEPCO_SODOIT.Models.CarouselImage

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Carousel Image Management</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Path, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (File.Exists(Server.MapPath("~/Images/"
 + Html.DisplayFor(modelItem => Model.ProductImage))))
{
    <img alt="" src="~/Images/@Html.DisplayFor(modelItem => Model.ProductImage)" />
    <form action="/CarouselImage/DeletePhoto" method="post" name="deletePhoto">
        @Html.AntiForgeryToken()

        <input type="text" name="photoFileName" value="@Html.DisplayFor(modelItem => Model.ProductImage)" />

        <input class="tiny button" type="submit" value="Delete" />
    </form>
}
else
{
    <form action="/CarouselImage/UploadPhoto" enctype="multipart/form-data" method="post">
        <label for="photo">Upload a Photo:</label>
        <input class="tiny button" id="photo" type="file" name="photo" />
        <input class="tiny button" type="submit" value="Upload" />
        <input type="hidden" name="cakesImage" value="@Html.DisplayFor(modelItem   => Model.ProductImage)" />
    </form>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
