﻿@{
    ViewBag.Title = "AP1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-inline" style="margin : 10px 0px 10px 0px">
    <label class="sr-only" for="txtSimulation">BIZ SIMULATION</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-sm-3" style="margin-left:-15px">
        <div class="input-group-addon" style="font-size:11px;height:auto;">BIZ SIMULATION</div>
        <input type="text" class="form-control" id="txtSimulation" value="AP1" style="font-size:11px;height:auto;" disabled>
    </div>
    <label class="sr-only" for="txtAccount">SALES</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-sm-3">
        <div class="input-group-addon" style="font-size:11px;height:auto;">SALES</div>
        <input type="text" class="form-control" id="txtAccount" style="font-size:11px;height:auto;" disabled>
    </div>
    <label class="sr-only" for="txtPGroup">PRODUCT GROUP</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-sm-3">
        <div class="input-group-addon" style="font-size:11px;height:auto;">PRODUCT GROUP</div>
        <input type="text" class="form-control" id="txtPGroup" style="font-size:11px;height:auto;" disabled>
    </div>
    <label class="sr-only" for="dateFilter">DATE</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-sm-3">
        <div class="input-group-addon" style="font-size:11px;height:auto;">DATE</div>
        <input type="text" class="form-control" id="dateFilter" style="font-size:11px;height:auto;" disabled>
    </div>

</form>
<br />
<br />
<div>
  <a data-toggle="modal" data-target="#filter-modal" class="grid-btn btn-info" title="Set Filters" style="padding: 3px 8px; padding-top: 4px;"><i class="glyphicon glyphicon-filter"></i><span>Filters</span></a>
  <a data-toggle="modal" data-target="#save-export-modal" class="grid-btn btn-info" title="Set Filters" style="padding: 3px 8px; padding-top: 4px;margin-left:-3px"><b class="glyphicon glyphicon-list"></b><span>Save and Export</span></a>
    <a id="exportSellIn" href="#" class="grid-btn btn-info" style="padding: 3px 8px; padding-top: 4px;margin-left:-4px"><b class="glyphicon glyphicon-export"></b><span>Export Sell-In (ACT + FCST)</span></a>
    <a id="exportSellOut" href="#" class="grid-btn btn-info" style="padding: 3px 8px; padding-top: 4px;margin-left:-3px"><b class="glyphicon glyphicon-export"></b><span>Export Sell-Out (ACT + FCST)</span></a>
</div>
<div>
    <div id="example1" class="hot handsontable htRowHeaders htColumnHeaders" style="overflow:hidden;height:600px;background-color:lightgray;font-size:11px;"></div>
</div>

<div id="simulationTrx"></div>

<div class="modal fade" tabindex="-1" role="dialog" id="save-export-modal" style="min-width:60%">
    <div class="modal-dialog" role="document" style="min-width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Save & Export Options</h4>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary " id="saveOnly"><b class=" glyphicon glyphicon-floppy-disk"></b><span>Save Only</span></button>
                <button type="button" class="btn btn-primary " id="exportOnly"><b class="glyphicon glyphicon-export"></b><span>Export Only</span></button>
                <button type="button" class="btn btn-primary " id="exportSimulation"><b class="glyphicon glyphicon-floppy-save"></b><span>Save & Export</span></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="filter-modal" style="min-width:60%">
    <div class="modal-dialog" role="document" style="min-width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Filter Settings</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_LoadFilters");
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary simulation-filter">Filter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        var hot1;//handsontable

        //filters
        var hiddenCategory = "";
        var pGroup = "";
        var pType = "";
        var models = "";
        var dateFrom = "";
        var dateTo = "";
        var account = "";
        var dealer = "";
        var columns = "Type,Item,Category";
        var headers = [];
        var data = "";

        var ObjLoader = '<div class="loading">&nbsp;</div>';

        //load table
        var objTable = $("#simulationTrx");
        $.ajax({
            type: 'GET',
            url: '@Url.Action("SimulationTransactions")',
            beforeSend: function () {
                objTable.html(ObjLoader);
                $('.loading').css({
                    'padding-left': '18px',
                    'padding-bottom': '10px',
                    'margin-left': '10px',
                    'background-position-y': '2px'
                }).html(' Loading form view please wait ... <a style="cursor: pointer;" onclick="$(' + "'.md-close'" + ').click()">Close</a>');
            },
            success: function (data) {
                //console.log(data);
                objTable.html(data);
            },
            error: function (xhr, status, error) {
                console.log(xhr);
                console.log(status);
                alert(xhr.status + " ( " + error + " )");
            }
        });


        //filter modal
        $('.filter-modal').click(function (e) {
            e.preventDefault();
            $('body').css('overflow', 'hidden');
            // SHOW THE MODAL ON SCREEN
            //$('.md-overlay').modal("show");
            $('#filter-modal').modal("show");

            //$('#filter-modal').fadeIn(100);

            //TO APPEND DIVISION IN THE MODAL
            var obj = $('.modal-body');
            // THE VALUE OF THE LINK TAG HREF ACTION IN THE CONTROLLER
            var url = $(this).attr("href");
            $.ajax({
                type: 'GET',
                url: url,
                beforeSend: function () {
                    obj.html(ObjLoader);
                    $('.loading').css({
                        'padding-left': '18px',
                        'padding-bottom': '10px',
                        'margin-left': '10px',
                        'background-position-y': '2px'
                    }).html(' Loading form view please wait ... <a style="cursor: pointer;" onclick="$(' + "'.md-close'" + ').click()">Close</a>');
                },
                success: function (data) {
                    //console.log(data);
                    obj.html(data);
                    setTimeout(function () {
                        LoadPastFilter();
                    }, 500);
                },
                error: function (xhr, status, error) {
                    alert(xhr.status + " ( " + error + " )");
                }
            });

            $('.md-content-data').html("");
        });

        //conditional formatting of cells


        function cellRenderer(instance, td, row, col, prop, value, cellProperties) {
            Handsontable.renderers.NumericRenderer.apply(this, arguments);
            td.style.color = '#000';
            td.style.background = '#e0f2ff';
            td.style.textAlign = 'center';
        }
        function ModelRenderer(instance, td, row, col, prop, value, cellProperties) {
            Handsontable.renderers.NumericRenderer.apply(this, arguments);
            td.style.color = '#D3D3D3';
            td.style.background = '#e0f2ff';
            td.style.textAlign = 'center';
        }

        function editableValueRenderer(instance, td, row, col, prop, value, cellProperties) {
            Handsontable.renderers.NumericRenderer.apply(this, arguments);
            var catCol = headers.indexOf("Category");
            td.style.textAlign = 'center';
            var catVal = instance.getDataAtCell(row, catCol);
            var url = '@Url.Action("IsEditableJS")';
            $.ajax({
                type: 'GET',
                url: url,
                data: { yearWeek: headers[col], category: catVal},
                success: function (data) {
                    if (data == 'True') {
                        //cellProperties.readOnly = false;
                        td.style.background = '#fff7a0';
                    } else {
                        cellProperties.readOnly = true;
                        td.style.color = '#000';
                        td.style.background = '#e0f2ff';
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                    //alert(xhr.status + " ( " + error + " )");
                }
            });

        }
        // maps function to lookup string
        //Handsontable.renderers.registerRenderer('editableValueRenderer', editableValueRenderer);

        var obj = $('#example1');
        //LoadSimulation();
        var url = "";
        function LoadSimulation() {
            $.ajax({
                url: "@Url.Action("GetAP1Version")",
                data: { account: account, dealer: dealer },
                success: function (result) {
                    if (result == "Long") {
                        url = "@Url.Action("LoadSimulationData")";
                        loadLongSimulation(url);
                    } else {
                        url = "@Url.Action("LoadShortSimulationData")"
                        loadShortSimulation(url);
                    }
                }
            });

        }
        function loadLongSimulation(url) {
            $.ajax({
                url: url,
                //type: "POST",
                data: { hiddenCategory: hiddenCategory, pGroup: pGroup, pType: pType, model: models, dateFrom: dateFrom, dateTo: dateTo, account: account, dealer: dealer, columns: columns },
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function () {
                    obj.html(ObjLoader);
                    $('.loading').css({
                        'padding-top': '18px',
                        'padding-bottom': '10px',
                        'margin-left': '10px',
                        'background-position-y': '2px'
                    }).html(' Loading form view please wait ...');
                },
                success: function (result) {
                    data = result.Data;
                    var hCatCount = hiddenCategory.split(',').length;
                    var mergeCells = [];
                    var firstCategory = result.FirstCategory;
                    for (var ctr = 0; ctr < result.Count; ctr++) {
                        var jsonObj = new Object();//merge type
                        jsonObj.row = (ctr * (16));
                        jsonObj.col = 0;
                        jsonObj.rowspan = 16 - hCatCount;
                        jsonObj.colspan = 1;
                        var jsonObj1 = new Object();//merge model item
                        jsonObj1.row = (ctr * (16));
                        jsonObj1.col = 1;
                        jsonObj1.rowspan = (16 - hCatCount);
                        jsonObj1.colspan = 1;

                        mergeCells.push(jsonObj);
                        mergeCells.push(jsonObj1);
                    }
                    var colSum = [];
                    for (var i = 0; i < data[0].length; i++) {
                        if (i >= 3) {//todo
                          
                            var jsonObj2 = new Object();//merge model item
                            jsonObj2.destinationRow = 1;
                            jsonObj2.destinationColumn = i;
                            jsonObj2.reversedRowCoords = false;
                            jsonObj2.type = 'custom';
                            jsonObj2.customFunction = function (endpoint) {
                                // this function counts the even values in the column

                                var evenCount = 0;
                                var hotInstance = this.hot;

                                // helper function
                                function checkRange(rowRange) {
                                    var i = rowRange[1] || rowRange[0];
                                    var counter = 0;

                                    do {

                                        if (hotInstance.getDataAtCell(i, 1) != "Total") {
                                            if (hotInstance.getDataAtCell(i, 0) == hotInstance.getDataAtCell(0, 0) && hotInstance.getDataAtCell(i, 2) == "Sell-in(Act+Fcst)") {//todo
                                                counter += parseInt(hotInstance.getDataAtCell(i, endpoint.sourceColumn));
                                            }
                                        }

                                        i--;
                                    } while (i >= rowRange[0]);
                                    return counter;
                                }

                                // go through all declared ranges
                                for (var r in endpoint.ranges) {
                                    if (endpoint.ranges.hasOwnProperty(r)) {
                                        evenCount += checkRange(endpoint.ranges[r]);
                                    }
                                }

                                return evenCount;
                            };
                            colSum.push(jsonObj2);
                        
                            var jsonObj4 = new Object();//merge model item
                            jsonObj4.destinationRow = 4;
                            jsonObj4.destinationColumn = i;
                            jsonObj4.reversedRowCoords = false;
                            jsonObj4.type = 'custom';
                            jsonObj4.customFunction = function (endpoint) {
                                // this function counts the even values in the column

                                var evenCount = 0;
                                var hotInstance = this.hot;

                                // helper function
                                function checkRange(rowRange) {
                                    var i = rowRange[1] || rowRange[0];
                                    var counter = 0;

                                    do {

                                        if (hotInstance.getDataAtCell(i, 1) != "Total") {
                                            if (hotInstance.getDataAtCell(i, 0) == hotInstance.getDataAtCell(0, 0) && hotInstance.getDataAtCell(i, 2) == "Sell-Out(Act+Fcst)") {//todo
                                                counter += parseInt(hotInstance.getDataAtCell(i, endpoint.sourceColumn));
                                            }
                                        }

                                        i--;
                                    } while (i >= rowRange[0]);
                                    return counter;
                                }

                                // go through all declared ranges
                                for (var r in endpoint.ranges) {
                                    if (endpoint.ranges.hasOwnProperty(r)) {
                                        evenCount += checkRange(endpoint.ranges[r]);
                                    }
                                }

                                return evenCount;
                            };
                            colSum.push(jsonObj4);
                        }


                    }
                    headers = result.Headers;
                    var colHeadWidths = [];
                    $.each(headers, function (index, val) {
                        if (index < 3) {
                            colHeadWidths.push(150);
                        } else if (index == 0) {
                            colHeadWidths.push(110);
                        } else {
                            colHeadWidths.push(95);
                        }

                    });
                    var example1 = document.getElementById("example1");
                    hot1 = new Handsontable(example1, {
                        data: data,
                        colHeaders: result.Headers,
                        //columns: result.ColsFormat,
                        fixedColumnsLeft: 3,
                        colWidths: colHeadWidths,
                        rowHeaders: false,
                        contextMenu: true,
                        formulas: true,
                        //stretchH: 'all',
                        //mergeCells: mergeCells,
                        columnSummary: colSum,
                        hiddenRows: { rows: result.HiddenRows },
                        cells: function (row, col, prop) {
                            var cellProperties = {};

                            //cellProperties.readOnly = true; // make cell read-only if it is first row or the text reads 'readOnly'
                            cellProperties.renderer = cellRenderer; // uses function directly

                            var catIndex = headers.indexOf("Category");
                            if (col >= columns.split(',').length) {
                                if (this.instance.getDataAtCell(row, catIndex) == 'Sell-in(Act+Fcst)' ||
                                  this.instance.getDataAtCell(row, catIndex) == 'Sell-Out(Act+Fcst)') {
                                    cellProperties.renderer = editableValueRenderer; // uses lookup map
                                } else if (this.instance.getDataAtCell(row, catIndex).indexOf("WOS") !== -1) {
                                    cellProperties.format = '0.0';
                                    cellProperties.readOnly = true;
                                    cellProperties.renderer = cellRenderer; // uses function directly
                                } else if (this.instance.getDataAtCell(row, catIndex).indexOf("Run Rate") !== -1) {
                                    cellProperties.format = '0.00';
                                    cellProperties.readOnly = true;
                                    cellProperties.renderer = cellRenderer; // uses function directly
                                } else {
                                    cellProperties.readOnly = true;
                                    cellProperties.renderer = cellRenderer; // uses function directly
                                }
                            }
                            else {
                                if (col == 1)
                                {
                                    if(this.instance.getDataAtCell(row, catIndex) == firstCategory){
                                        cellProperties.readOnly = true;
                                        cellProperties.renderer = cellRenderer; // uses function directly
                                    }
                                    else {
                                        cellProperties.readOnly = true;
                                        cellProperties.renderer = ModelRenderer; // uses function directl
                                     }  
                                }
                                else {
                                    cellProperties.readOnly = true;
                                    cellProperties.renderer = cellRenderer; // uses function directly
                                }
                                cellProperties.readOnly = true;
                            }
                            return cellProperties;
                        },
                        afterChange: function (changes, source) {
                            $(".htCore tbody tr td").filter(function () {
                                if ($(this).text() == "#VALUE!" || $(this).text() == "#DIV/0!" || $(this).text() == "#REF!" || $(this).text() == "#ERROR!" || $(this).text() == "NaN") {
                                    $(this).text('0');
                                    $(this).removeClass("htInvalid");
                                }
                            });
                        },
                        afterRender: function () {

                            $(".htCore tbody tr td").filter(function () {
                                if ($(this).text() == "#VALUE!" || $(this).text() == "#DIV/0!" || $(this).text() == "#REF!" || $(this).text() == "#ERROR!" || $(this).text() == "NaN") {
                                    $(this).text('0');
                                }
                            });
                        }
                    });
                },
                error: function (a, b, c) {

                }
            });
        }

        function loadShortSimulation(url) {
            $.ajax({
                url: url,
                //type: "POST",
                data: { hiddenCategory: hiddenCategory, pGroup: pGroup, pType: pType, model: models, dateFrom: dateFrom, dateTo: dateTo, account: account, dealer: dealer, columns: columns },
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function () {
                    obj.html(ObjLoader);
                    $('.loading').css({
                        'padding-top': '18px',
                        'padding-bottom': '10px',
                        'margin-left': '10px',
                        'background-position-y': '2px'
                    }).html(' Loading form view please wait ...');
                },
                success: function (result) {
                  
                    data = result.Data;
                    var firstCategory = result.FirstCategory;
                        var hCatCount = hiddenCategory.split(',').length;
                        var mergeCells = [];
                        for (var ctr = 0; ctr < result.Count; ctr++) {
                            var jsonObj = new Object();//merge type
                            jsonObj.row = (ctr * (9));
                            jsonObj.col = 0;
                            jsonObj.rowspan = 9 - hCatCount;
                            jsonObj.colspan = 1;
                            var jsonObj1 = new Object();//merge model item
                            jsonObj1.row = (ctr * (9));
                            jsonObj1.col = 1;
                            jsonObj1.rowspan = (9 - hCatCount);
                            jsonObj1.colspan = 1;

                            mergeCells.push(jsonObj);
                            mergeCells.push(jsonObj1);
                    }
                        var colSum = [];
                        for (var i = 0; i < data[0].length; i++) {
                            if (i >= 3) {//todo
                                var jsonObj1 = new Object();//merge model item
                                jsonObj1.destinationRow = 1;
                                jsonObj1.destinationColumn = i;
                                jsonObj1.reversedRowCoords = false;
                                jsonObj1.type = 'custom';
                                jsonObj1.customFunction = function (endpoint) {
                                    // this function counts the even values in the column

                                    var evenCount = 0;
                                    var hotInstance = this.hot;

                                    // helper function
                                    function checkRange(rowRange) {
                                        var i = rowRange[1] || rowRange[0];
                                        var counter = 0;

                                        do {

                                            if (hotInstance.getDataAtCell(i, 1) != "Total") {
                                                if (hotInstance.getDataAtCell(i, 0) == hotInstance.getDataAtCell(0, 0) && hotInstance.getDataAtCell(i, 2) == "Sell-Out(Act+Fcst)") {//todo
                                                    counter += parseInt(hotInstance.getDataAtCell(i, endpoint.sourceColumn));
                                                }
                                            }

                                            i--;
                                        } while (i >= rowRange[0]);
                                        return counter;
                                    }

                                    // go through all declared ranges
                                    for (var r in endpoint.ranges) {
                                        if (endpoint.ranges.hasOwnProperty(r)) {
                                            evenCount += checkRange(endpoint.ranges[r]);
                                        }
                                    }

                                    return evenCount;
                                };
                                colSum.push(jsonObj1);

                                var jsonObj2 = new Object();
                                jsonObj2.destinationRow = 0;
                                jsonObj2.destinationColumn = i;
                                jsonObj2.reversedRowCoords = false;
                                jsonObj2.type = 'custom';
                                jsonObj2.customFunction = function (endpoint) {
                                    // this function counts the even values in the column

                                    var evenCount = 0;
                                    var hotInstance = this.hot;

                                    // helper function
                                    function checkRange(rowRange) {
                                        var i = rowRange[1] || rowRange[0];
                                        var counter = 0;

                                        do {

                                            if (hotInstance.getDataAtCell(i, 1) != "Total") {
                                                if (hotInstance.getDataAtCell(i, 0) == hotInstance.getDataAtCell(0, 0) && hotInstance.getDataAtCell(i, 2) == "Sell-in(Act+Fcst)") {//todo
                                                    counter += parseInt(hotInstance.getDataAtCell(i, endpoint.sourceColumn));
                                                }
                                            }

                                            i--;
                                        } while (i >= rowRange[0]);
                                        return counter;
                                    }

                                    // go through all declared ranges
                                    for (var r in endpoint.ranges) {
                                        if (endpoint.ranges.hasOwnProperty(r)) {
                                            evenCount += checkRange(endpoint.ranges[r]);
                                        }
                                    }

                                    return evenCount;
                                };
                                colSum.push(jsonObj2);

                            }
                        }

                        headers = result.Headers;
                        var colHeadWidths = [];
                        $.each(headers, function (index, val) {
                            if (index < 3) {
                                colHeadWidths.push(150);
                            } else if (index == 0) {
                                colHeadWidths.push(110);
                            } else {
                                colHeadWidths.push(95);
                            }

                        });
                        var example1 = document.getElementById("example1");
                        hot1 = new Handsontable(example1, {
                            data: data,
                            colHeaders: result.Headers,
                            //columns: result.ColsFormat,
                            fixedColumnsLeft: 3,
                            colWidths: colHeadWidths,
                            rowHeaders: false,
                            contextMenu: true,
                            formulas: true,
                            //stretchH: 'all',
                            //mergeCells: mergeCells,
                            columnSummary: colSum,
                            hiddenRows: { rows: result.HiddenRows },
                            cells: function (row, col, prop) {
                                var cellProperties = {};

                                //cellProperties.readOnly = true; // make cell read-only if it is first row or the text reads 'readOnly'
                                cellProperties.renderer = cellRenderer; // uses function directly

                                var catIndex = headers.indexOf("Category");
                                if (col >= columns.split(',').length) {
                                    if (this.instance.getDataAtCell(row, catIndex) == 'Sell-in(Act+Fcst)' ||
                                      this.instance.getDataAtCell(row, catIndex) == 'Sell-Out(Act+Fcst)') {
                                        cellProperties.renderer = editableValueRenderer; // uses lookup map
                                    } else if (this.instance.getDataAtCell(row, catIndex).indexOf("WOS") !== -1) {
                                        cellProperties.format = '0.0';
                                        cellProperties.readOnly = true;
                                        cellProperties.renderer = cellRenderer; // uses function directly
                                    } else if (this.instance.getDataAtCell(row, catIndex).indexOf("Run Rate") !== -1) {
                                        cellProperties.format = '0.00';
                                        cellProperties.readOnly = true;
                                        cellProperties.renderer = cellRenderer; // uses function directly
                                    } else {
                                        cellProperties.readOnly = true;
                                        cellProperties.renderer = cellRenderer; // uses function directly
                                    }
                                }
                                else {
                                    if (col == 1) {
                                        if (this.instance.getDataAtCell(row, catIndex) == firstCategory) {
                                            cellProperties.readOnly = true;
                                            cellProperties.renderer = cellRenderer; // uses function directly
                                        }
                                        else {
                                            cellProperties.readOnly = true;
                                            cellProperties.renderer = ModelRenderer; // uses function directl
                                        }
                                    }
                                    else {
                                        cellProperties.readOnly = true;
                                        cellProperties.renderer = cellRenderer; // uses function directly
                                    }
                                    cellProperties.readOnly = true;
                                }
                                return cellProperties;
                        },
                        afterChange: function (changes, source) {
                            $(".htCore tbody tr td").filter(function () {
                                if ($(this).text() == "#VALUE!" || $(this).text() == "#DIV/0!" || $(this).text() == "#REF!" || $(this).text() == "-Infinity"  || $(this).text() == "NaN") {
                                    $(this).text('0');
                                    $(this).removeClass("htInvalid");
                                }
                            });
                        },
                        afterRender: function () {

                            $(".htCore tbody tr td").filter(function () {
                                if ($(this).text() == "#VALUE!" || $(this).text() == "#DIV/0!" || $(this).text() == "#REF!" || $(this).text() == "-Infinity" || $(this).text() == "NaN") {
                                    $(this).text('0');
                                    $(this).removeClass("htInvalid");
                                }
                            });
                        }
                    });
                },
                error: function (a, b, c) {

                }
            });
        }
        $(".simulation-filter").click(function () {
            var cols = [];
            $("#previewthead > th").each(function () {
                cols.push($(this).text());
            });
            var dealerList = $("#dealerList").val();
            if (dealerList == '') {
                hiddenCategory = $("#catListLong").val() != null ? $("#catListLong").val().join() : "";
            }
            else {
                hiddenCategory = $("#catListShort").val() != null ? $("#catListShort").val().join() : "";
            }
            pGroup = $("#pGroupList").val() != null ? $("#pGroupList").val().join() : "";
            pType = $("#pTypeList").val() != null ? $("#pTypeList").val().join() : "";
            models = $("#pModelList").val() != null ? $("#pModelList").val().join() : "";
            account = $("#salesList").val() != null ? $("#salesList").val().join() : "";
            dealer = $("#dealerList").val() != null ? $("#dealerList").val().join() : "";
            dateFrom = $("#dtFrom").val();
            dateTo = $("#dtTo").val();

            if (dateFrom == "" || dateTo == "") {
                alert("Invalid Date!");
                return;
            }
            var d1 = new Date(dateFrom);
            var d2 = new Date(dateTo);


            if (d1 > d2) {
                alert("Invalid Date!");
                return;
            }

            columns = cols.join();
            $("#txtAccount").val(account.toUpperCase());
            $("#txtPGroup").val(pGroup.toUpperCase());
            $("#dateFilter").val(dateFrom + " - " + dateTo);
            LoadSimulation();
            $('#filter-modal').modal("hide");
        });

        function LoadPastFilter() {

            $("#dtFrom").val(dateFrom);
            $("#dtTo").val(dateTo);

            if (pGroup != "") {
                var str_array = pGroup.split(',');

                for (var i = 0; i < str_array.length; i++) {
                    str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                }
                $("#pGroupList").val(str_array).trigger("chosen:updated");
            }

            if (account != "") {
                var str_array = account.split(',');

                for (var i = 0; i < str_array.length; i++) {
                    str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                }
                $("#salesList").val(str_array).trigger("chosen:updated");
            }

            setTimeout(function () {
                if (columns != "") {
                    var str_array = columns.split(',');
                    if (str_array.length <= 3) {
                        return;
                    }
                    for (var i = 0; i < str_array.length; i++) {
                        str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                    }
                    //console.log(str_array);
                    $("#pGroupAttriList").val(str_array).trigger("chosen:updated");

                    var chosenData = $("#pGroupAttriList").val()[$("#pGroupAttriList").val().length - 1];
                    $("#previewthead").append("<th data-name='" + chosenData + "'>" + chosenData + "</th>");
                    $("#previewtbody").append("<td>" + ($("#previewthead > th").length) + "</td>");
                    $("#preview").dragtable('destroy').dragtable();
                }
            }, 1000);
        }

        var downloading = false;

        //Download simulation into excel
        $("#exportSimulation").click(function (e) {
            e.preventDefault();

            var datas = hot1.getSourceData();
            var colHeaderList = hot1.getColHeader();


            var url = "";
            $.ajax({
                url: "@Url.Action("GetAP1Version")",
                data: { account: account, dealer: dealer },
                success: function (result) {
                    if (result == "Long") {
                        var data = {
                            ProductGroup: pGroup,
                            GSCMAccount: account,
                            dateFrom: dateFrom,
                            dateTo: dateTo,
                            columns: colHeaderList.join(),
                            simulationData: JSON.stringify(datas)
                        }
                        url = "@Url.Action("ExportSimulation")";
                        $.ajax({
                            url: url,
                            type: "post",
                            async: false,
                            data: data,
                            success: function (response) {
                                var url1 = '@Url.Action("DownloadSimulationFile")';
                                var filename = $(".dl-modal").attr("id");
                                var url = url1 + "?fileName=" + response;
                                window.open(url, "_self");
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                console.log(xhr);
                                console.log(ajaxOptions);
                                console.log(thrownError);
                            }
                        });
                    } else {
                        var data = {
                            ProductGroup: pGroup,
                            GSCMAccount: account,
                            Dealer: dealer,
                            dateFrom: dateFrom,
                            dateTo: dateTo,
                            columns: colHeaderList.join(),
                            simulationData: JSON.stringify(datas)
                        }
                        url = "@Url.Action("ExportShortSimulation")"
                        $.ajax({
                            url: url,
                            type: "post",
                            async: false,
                            data: data,
                            success: function (response) {
                                var url1 = '@Url.Action("DownloadSimulationFile")';
                                var filename = $(".dl-modal").attr("id");
                                var url = url1 + "?fileName=" + response;
                                window.open(url, "_self");
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                console.log(xhr);
                                console.log(ajaxOptions);
                                console.log(thrownError);
                            }
                        });
                    }
                }
            });

        });
        
        $("#exportSellIn").click(function (e) {
            e.preventDefault();

            var datas = hot1.getSourceData();
            var colHeaderList = hot1.getColHeader();


            var url = "";

            var data = {
                ProductGroup: pGroup,
                GSCMAccount: account,
                Dealer: dealer,
                dateFrom: dateFrom,
                dateTo: dateTo,
                columns: colHeaderList.join(),
                simulationData: JSON.stringify(datas)
            }
            url = "@Url.Action("ExportSellIn")";
            $.ajax({
                url: url,
                type: "post",
                async: false,
                data: data,
                success: function (response) {
                    var url1 = '@Url.Action("DownloadSimulationFile")';
                    var filename = $(".dl-modal").attr("id");
                    var url = url1 + "?fileName=" + response;
                    window.open(url, "_self");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr);
                    console.log(ajaxOptions);
                    console.log(thrownError);
                }
            });
        });
        $("#exportSellOut").click(function (e) {
            e.preventDefault();

            var datas = hot1.getSourceData();
            var colHeaderList = hot1.getColHeader();


            var url = "";

            var data = {
                ProductGroup: pGroup,
                GSCMAccount: account,
                Dealer: dealer,
                dateFrom: dateFrom,
                dateTo: dateTo,
                columns: colHeaderList.join(),
                simulationData: JSON.stringify(datas)
            }
            url = "@Url.Action("ExportSellOut")";
            $.ajax({
                url: url,
                type: "post",
                async: false,
                data: data,
                success: function (response) {
                    var url1 = '@Url.Action("DownloadSimulationFile")';
                    var filename = $(".dl-modal").attr("id");
                    var url = url1 + "?fileName=" + response;
                    window.open(url, "_self");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr);
                    console.log(ajaxOptions);
                    console.log(thrownError);
                }
            });
        });
        $("#saveOnly").click(function (e) {
            e.preventDefault();

            var datas = hot1.getSourceData();
            var colHeaderList = hot1.getColHeader();


            var url = "";
            $.ajax({
                url: "@Url.Action("GetAP1Version")",
                data: { account: account, dealer: dealer },
                success: function (result) {
                    if (result == "Long") {
                        var data = {
                            ProductGroup: pGroup,
                            GSCMAccount: account,
                            dateFrom: dateFrom,
                            dateTo: dateTo,
                            columns: colHeaderList.join(),
                            simulationData: JSON.stringify(datas)
                        }
                        url = "@Url.Action("ExportSimulation")";
                        $.ajax({
                            url: url,
                            type: "post",
                            async: false,
                            data: data,
                            success: function (response) {
                                alert("File Successfully Saved");
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                console.log(xhr);
                                console.log(ajaxOptions);
                                console.log(thrownError);
                            }
                        });
                    } else {
                        var data = {
                            ProductGroup: pGroup,
                            GSCMAccount: account,
                            Dealer: dealer,
                            dateFrom: dateFrom,
                            dateTo: dateTo,
                            columns: colHeaderList.join(),
                            simulationData: JSON.stringify(datas)
                        }
                        url = "@Url.Action("ExportShortSimulation")"
                        $.ajax({
                            url: url,
                            type: "post",
                            async: false,
                            data: data,
                            success: function (response) {
                                alert("File Successfully Saved");
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                console.log(xhr);
                                console.log(ajaxOptions);
                                console.log(thrownError);
                            }
                        });
                    }
                }
            });
        });
        $("#exportOnly").click(function (e) {
            e.preventDefault();

            var datas = hot1.getSourceData();
            var colHeaderList = hot1.getColHeader();


            var url = "";
            $.ajax({
                url: "@Url.Action("GetAP1Version")",
                data: { account: account, dealer: dealer },
                success: function (result) {
                    if (result == "Long") {
                        var data = {
                            ProductGroup: pGroup,
                            GSCMAccount: account,
                            dateFrom: dateFrom,
                            dateTo: dateTo,
                            columns: colHeaderList.join(),
                            simulationData: JSON.stringify(datas)
                        }
                        url = "@Url.Action("ExportSimulation")";
                        $.ajax({
                            url: url,
                            type: "post",
                            async: false,
                            data: data,
                            success: function (response) {
                                var url1 = '@Url.Action("DownloadSimulationFile")';
                                var filename = $(".dl-modal").attr("id");
                                var url = url1 + "?fileName=" + response;
                                window.open(url, "_self");
                                setTimeout(function () {
                                    url = "@Url.Action("DeleteFile")";
                                    $.ajax({
                                        url: url,
                                        type: "post",
                                        async: false,
                                        data: response.Data,
                                        success: function (response) {
                                            console.log(response.Data);
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            console.log(xhr);
                                            console.log(ajaxOptions);
                                            console.log(thrownError);
                                        }
                                    });
                                },1000)

                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                console.log(xhr);
                                console.log(ajaxOptions);
                                console.log(thrownError);
                            }
                        });
                    } else {
                        var data = {
                            ProductGroup: pGroup,
                            GSCMAccount: account,
                            Dealer: dealer,
                            dateFrom: dateFrom,
                            dateTo: dateTo,
                            columns: colHeaderList.join(),
                            simulationData: JSON.stringify(datas)
                        }
                        url = "@Url.Action("ExportShortSimulation")"
                    $.ajax({
                        url: url,
                        type: "post",
                        async: false,
                        data: data,
                        success: function (response) {
                            var url1 = '@Url.Action("DownloadSimulationFile")';
                            var filename = $(".dl-modal").attr("id");
                            var url = url1 + "?fileName=" + response;
                            window.open(url, "_self");
                            setTimeout(function () {
                                url = "@Url.Action("DeleteFile")";
                                $.ajax({
                                    url: url,
                                    type: "post",
                                    async: false,
                                    data: response.Data,
                                    success: function (response) {
                                        console.log(response.Data);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        console.log(xhr);
                                        console.log(ajaxOptions);
                                        console.log(thrownError);
                                    }
                                });
                            },1000)
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(xhr);
                            console.log(ajaxOptions);
                            console.log(thrownError);
                        }
                    });
                }
            }
        });
    });
    });
    </script>
}

