﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .jqplot-point-label {
        color: white;
    }

    .imgHolder {
        position: relative;
    }

        .imgHolder span {
            position: relative;
            right: 10px;
            top: 10px;
        }

    #tblDate tr td {
        border: none !important;
    }

    #dataContent {
        width: 100%;
    }
    /*#loadingImage {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
        box-shadow: 0px 0px 5px #fff;
        z-index: 1000001;
    }*/
</style>




<div class="container-fluid">
    <h2>RUN RATE GRAPH(<label id="lblMonthlyWeekly">-</label>)</h2>


    <div class="imgHolder">
        <img id="loadingImage" src="~/LoadingIMG/Preloader_2.gif" style="display:none;" />
        <span style="display:none;" id="loading"><label>Loading...</label></span>
    </div>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>AP1</th>
                <th>GSCM Account</th>
                <th>Dealer</th>
                <th>Site Name</th>
                <th>Product Group</th>
                <th>Product</th>
                <th>Model</th>
                <th>Week/Month</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>
                    @Html.DropDownList("AP1", null, new { @id = "ddlAP1", @class = "form-control", @style = "width:100%;", @multiple = "multiple" })
                </td>
                <td>
                    <select id="ddlGSCMAccount" class="form-control SlectBox" style="width:100%;" multiple="multiple"></select>
                </td>
                <td>
                    <select id="ddlDealer" class="form-control  SlectBox" style="width:100%;" multiple="multiple"></select>
                </td>
                <td>
                    <select id="ddlSiteName" class="form-control" style="width:100%;" multiple="multiple"></select>
                </td>
                <td>
                    @Html.DropDownList("ProductGroup", null, "Select", new { @class = "form-control", @id = "ddlProductGroup", @style = "width:100%;" })
                </td>
                <td>
                    <select id="ddlProduct" class="form-control " style="width:100%;">
                        <option>Select</option>
                    </select>
                </td>
                <td>
                    <select id="ddlModel" class="form-control " style="width:100%;" multiple="multiple"></select>
                </td>
                <td>
                    <select class="form-control" id="ddlMonthWeek" style="width:100%;">
                        <option>Monthly</option>
                        <option>Weekly</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>



    <table style="width:40%;" class="table table-responsive" id="tblDate">
        <thead>
            <tr>
                <th></th>
                <th>FROM</th>
                <th>TO</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:5%;"><label id="lblMonthWeek">MONTH:</label> </td>
                <td style="width:10%;">
                    <select class="form-control" id="ddlWeekFrom" style="display:none;">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        @{
                            for (var i = 10; i <= 52; i++)
                            {
                                <option>@i</option>
                            }
                        }
                    </select>
                    @Html.DropDownList("MonthMappingFrom1", null, new { @class = "form-control", @id = "ddlMonthMappingFrom", @style = "width:100%;" })
                </td>
                <td style="width:10%;">

                    <select class="form-control" id="ddlWeekTo" style="display:none;">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        @{
                            for (var i = 10; i <= 52; i++)
                            {
                                <option>@i</option>
                            }
                        }
                    </select>
                    @Html.DropDownList("MonthMappingTo1", null, new { @class = "form-control", @id = "ddlMonthMappingTo", @style = "width:100%;" })
                </td>

            </tr>
            <tr>
                <td style="width:5%;"><label>YEAR:</label></td>
                <td style="width:10%;">
                    @Html.DropDownList("YearMappingFrom1", null, new { @class = "form-control", @id = "ddlYearMappingFrom", @style = "width:100%;" })
                </td>
                <td style="width:10%;">
                    @*@Html.DropDownList("YearMappingTo1", null, new { @class = "form-control", @id = "ddlYearMappingTo", @style = "width:100%;" })*@
                </td>
                <td style="width:2%;"></td>
                <td style="width:10%;"><button type="button" class="btn btn-info" style="width:100%;" id="generateRunRate">Apply Filters</button></td>
            </tr>
        </tbody>
    </table>



    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>PRODUCT GROUP</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="dataContent">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" style="">
            <h4>PRODUCT</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="dataContent2"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" style="">
            <h4>MODEL</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="dataContent3"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#generateWOSGraph").click(function () {
            WosGraph();
            WOSByProduct();
            WOSGraphPerModel();
        });

        $('#lblMonthlyWeekly').html($('#ddlMonthWeek').val());

        $('#ddlMonthWeek').on("change", function () {
            if ($('#ddlMonthWeek').val().trim() == "Monthly") {
                $('#ddlWeekTo').hide();
                $('#ddlWeekFrom').hide();
                $('#ddlMonthMappingFrom').show();
                $('#ddlMonthMappingTo').show();
                $('#lblMonthWeek').html('MONTH:');
                $('#lblMonthlyWeekly').html("Monthly");
            }
            if ($('#ddlMonthWeek').val().trim() == "Weekly") {
                $('#ddlWeekTo').show();
                $('#ddlWeekFrom').show();
                $('#ddlMonthMappingFrom').hide();
                $('#ddlMonthMappingTo').hide();
                $('#lblMonthWeek').html('WEEK:');
                $('#lblMonthlyWeekly').html("Weekly");
            }
        });


        $('#ddlProductGroup').SumoSelect();
        $('#ddlProduct').SumoSelect();
        $('#ddlAP1').SumoSelect({ okCancelInMulti: true, selectAll: true });
        $('#ddlDealer').SumoSelect({ okCancelInMulti: true, selectAll: true });
        $('#ddlGSCMAccount').SumoSelect({ okCancelInMulti: true, selectAll: true });
        $('#ddlModel').SumoSelect({ okCancelInMulti: true, selectAll: true });
        $('#ddlSiteName').SumoSelect({ okCancelInMulti: true, selectAll: true });

        var ddlGSCMAccount = $("#ddlGSCMAccount");


        $('#ddlAP1').change(function () {
            var sel = "'" + $('#ddlAP1').val().join("','") + "'";
            var count = $('#ddlGSCMAccount').length;
            if (count != 0) {
                $('#ddlGSCMAccount option').each(function () {
                    $('#ddlGSCMAccount')[0].sumo.remove(0);
                });
            }

            $.ajax({
                url: '@Url.Action("getGSCMAccountListBasedOnAP1", "BORunRate")',
                data: { AP1: sel },
                global: false,
                success: function (data) {
                    for (var i = 0; i <= data.length; i++) {
                        console.log(data);
                        $('#ddlGSCMAccount')[0].sumo.add(data[i].GSCMAccount);
                    }
                }
            });
        });

        $("#ddlGSCMAccount").change(function () {
            var sel = "'" + $('#ddlGSCMAccount').val().join("','") + "'";
            var count = $('#ddlDealer').length;
            if (count != 0) {
                $('#ddlDealer option').each(function () {
                    $('#ddlDealer')[0].sumo.remove(0);
                });
            }

            $.ajax({
                url: '@Url.Action("getDealerListByGSCMAccount", "BORunRate")',
                data: { gscmaccount: sel },
                global: false,
                success: function (data) {

                    for (var i = 0; i <= data.length; i++) {
                        $('#ddlDealer')[0].sumo.add(data[i].Dealer);
                    }
                }
            });
        });

        $("#ddlProductGroup").change(function () {
            var sel = $('#ddlProductGroup').val();
            var count = $('#ddlProduct').length;
            if (count != 0) {
                $('#ddlProduct option').each(function () {
                    $('#ddlProduct')[0].sumo.remove(0);
                });
            }

            $.ajax({
                url: '@Url.Action("getProductByProductGroup", "BORunRate")',
                data: { ProductGroup: sel },
                global: false,
                success: function (data) {
                    for (var i = 0; i <= data.length; i++) {
                        $('#ddlProduct')[0].sumo.add(data[i].ProductType);
                    }
                }
            });
        });
        $("#ddlProduct").change(function () {
            var sel = $('#ddlProduct').val();
            var count = $('#ddlModel').length;
            if (count != 0) {
                $('#ddlModel option').each(function () {
                    $('#ddlModel')[0].sumo.remove(0);
                });

            }

            $.ajax({
                url: '@Url.Action("getModelByProduct", "BORunRate")',
                data: { Product: sel },
                global: false,
                success: function (data) {
                    for (var i = 0; i <= data.length; i++) {
                        $('#ddlModel')[0].sumo.add(data[i].Model);
                    }
                }
            });
        });

    });

    function WosGraph() {

        var childCount = $('#dataContent').children().length;
        if (childCount != 0) {
            $('#dataContent').children().remove();
        }
        //var pg = $('#ddlProductGroup').val().join(",");
        var ap1 = $('#ddlAP1').val().join(",").trim().replace(/'/g, "''''");
        var ga = $('#ddlGSCMAccount').val().join(",").trim().replace(/'/g, "''''").replace("-", "");
        var mw = $('#ddlMonthWeek').val();
        var product = $('#ddlProduct').val();
        var mymodel = $('#ddlModel').val().join(",").trim();
        var wf = $('#ddlWeekFrom').val();
        var wt = $('#ddlWeekTo').val();
        var pg = $('#ddlProductGroup').val();
        var de = $('#ddlDealer').val();



        $.ajax({
            url: '@Url.Action("getWOSGraphPerAP1andAccountBasedOnProductGroup")',
            async: false,
            data: {
                MonthMappingFrom: $("#ddlMonthMappingFrom").val(),
                MonthMappingTo: $("#ddlMonthMappingTo").val(),
                YearMappingFrom: $('#ddlYearMappingFrom').val(),
                ProductGroup: pg,
                Product: product,
                myModel: mymodel,
                Dealer: de,
                GSCMAccount: ga,
                AP1: ap1,
                MonthWeek: mw,
                WeekFrom: wf,
                WeekTo: wt,
            },
            success: function (data) {
                //$('#dataContent').html(data);

                if (pg.includes("/")) {
                    pg = "AC"
                }
                var innerDiv = document.createElement('div');
                innerDiv.id = pg;
                innerDiv.innerHTML = data;

                var chartDiv = document.createElement('div');
                chartDiv.id = 'chart_' + pg;

                document.getElementById('dataContent').append(chartDiv);
                document.getElementById('dataContent').append(innerDiv);



                wosPlot(chartDiv.id, innerDiv.id, pg);
            }
        });

    };

    function wosPlot(chartID, innerDivTable, productCode) {

        var tableCols = $("#" + innerDivTable + " #WOStableDataPerAP1andAccount").find('th');
        var ListOfHeaders = [];
        var ListOfRows = [];
        if (tableCols.length > 0) {
            var ctr = 0;
            tableCols.each(function () {
                if (ctr == 0) {
                    ctr++;
                    return;
                }
                else {
                    ListOfHeaders.push($(this).text().trim());
                }
                ctr++;
            });
        }
        var sellinArray = [];
        var selloutArray = [];
        var wosArray = [];
        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccount tbody tr:eq(1)").each(function () {
            var arrayOfThisRow = [];
            var ListOfHeadersNotIncluded = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                if (ctr == 0) {
                    ctr++;
                    return;
                }
                if (ListOfHeadersNotIncluded.includes(ctr)) {

                } else {
                    var value = $(this).text().trim();
                    sellinArray.push(value);
                }
                ctr++;
            });
        });
        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccount tbody tr:eq(2)").each(function () {
            var value = "";
            var arrayOfThisRow = [];
            var ListOfHeadersNotIncluded = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                if (ctr == 0) {
                    ctr++;
                    return;
                }
                if (ListOfHeadersNotIncluded.includes(ctr)) {

                } else {
                    value = $(this).text().trim();
                    selloutArray.push(value);
                }
                ctr++;
            });
        });

        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccount tbody tr:eq(3)").each(function () {
            var value = "";
            var arrayOfThisRow = [];
            var ListOfHeadersNotIncluded = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                if (ctr == 0) {
                    ctr++;
                    return;
                }
                if (ListOfHeadersNotIncluded.includes(ctr)) {
                } else {
                    value = $(this).text().trim();
                    wosArray.push(value);
                }
                ctr++;
            });
        });

        var valueswos = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valueswos11 = [];
            valueswos11.push(ListOfHeaders[i].trim());
            valueswos11.push(wosArray[i].trim());
            valueswos.push(valueswos11);
        }
        var valuessellin = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valuessellin11 = [];
            valuessellin11.push(ListOfHeaders[i].trim());
            valuessellin11.push(parseInt(sellinArray[i].trim()));
            valuessellin.push(valuessellin11);
        }
        var valuessellout = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valuessellout11 = [];
            valuessellout11.push(ListOfHeaders[i].trim());
            valuessellout11.push(parseInt(selloutArray[i].trim()));
            valuessellout.push(valuessellout11);
        }

        var width = $('#' + chartID).width();
        var number_of_data_points = ListOfHeaders.length;
        width = width / number_of_data_points;
        width = (width * 50) / 100;

        var jsonArray = [];
        var wosval = [];
        var sellinval = [];
        var selloutval = [];

        $('#' + innerDivTable + " #WOStableDataPerAP1andAccount tbody tr").each(function () {
            var tableDataLabel = $(this).find('td:first-child');
            tableDataLabel.each(function () {
                if ($(tableDataLabel[0]).text().trim() == "INVENTORY") {
                    return;
                }
                else if ($(tableDataLabel[0]).text().trim() == "SELL-IN") {
                    sellinval.push($(this).text().trim());
                }
                else if ($(tableDataLabel[0]).text().trim() == "SELL-OUT") {
                    selloutval.push($(this).text().trim());
                }
                else if ($(tableDataLabel[0]).text().trim() == "WOS (F4)") {
                    wosval.push($(this).text().trim());
                }
            });

        });


        var seriesColorArray = [];
        var prodGroup = productCode;

        if (prodGroup == 'REF') {
            seriesColorArray.push('#d9d9d9', '#3333ff', '#000080');

        } else if (prodGroup == 'WM') {
            seriesColorArray.push('#d9d9d9', '#ffc14d', '#ff751a');
        } else if (prodGroup == 'AC') {
            seriesColorArray.push('#d9d9d9', '#99e600', '#558000');
        }
        else if (prodGroup == 'MWO') {
            seriesColorArray.push('#d9d9d9', '#ffff00', '#999900');
        }



        jsonArray.push(wosval);
        jsonArray.push(sellinval);
        jsonArray.push(selloutval);


        plot1 = $.jqplot(chartID, [valueswos, valuessellin, valuessellout], {
            height: 500,
            title: productCode,
            animate: true,
            animateReplot: true,
            cursor: {
                show: true,
                zoom: false,
                looseZoom: false,
                showTooltip: false
            },
            seriesDefaults: {
                rendererOptions: {
                    smooth: true
                }
            },
            series: [
                {
                    pointLabels: {
                        show: true
                    },
                    renderer: $.jqplot.BarRenderer,
                    showHighlight: true,
                    yaxis: 'y2axis',
                    rendererOptions: {

                        animation: {
                            speed: 2500
                        },
                        barWidth: width,
                        highlightMouseOver: false
                    }
                },

            ],
            seriesColors: seriesColorArray,
            legend: {
                renderer: $.jqplot.EnhancedLegendRenderer,
                labels: jsonArray,
                show: true,
                location: 'w',
                placement: 'outsideGrid'
            },
            axes: {
                xaxis: {
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    drawMajorGridlines: true,
                    drawMinorGridlines: true,
                    drawMajorTickMarks: true,
                    renderer: $.jqplot.CategoryAxisRenderer,

                    tickOptions: {

                        angle: -30,
                        fontSize: '1.5em',
                        textColor: '#000000',
                        fontFamily: '"Trebuchet MS",Arial,Helvetica,sans-serif'
                    },
                },
                grid: {
                    drawGridlines: true
                },
                yaxis: {
                    pad: 0,
                    autoscale: true
                },
                y2axis: {
                    pad: 0.00,
                    tickOptions: {
                        formatString: "%#.2f"
                    },

                    //autoscale: true,
                    rendererOptions: {
                        alignTicks: true,
                    }
                }
            },
            highlighter: {
                show: true,
                showLabel: true,
                tooltipAxes: 'y',
                sizeAdjust: 7.5,
                tooltipLocation: 'ne'
            }
        });

    };

    function WOSByProduct() {

        var childCount = $('#dataContent2').children().length;
        if (childCount != 0) {
            $('#dataContent2').children().remove();
        }
        var pg = $('#ddlProductGroup').val();
        var product = $('#ddlProduct').val();
        var ap1 = $('#ddlAP1').val().join(",").trim().replace(/'/g, "''''");
        var ga = $('#ddlGSCMAccount').val().join(",").trim().replace(/'/g, "''''").replace("-", "");
        var mw = $('#ddlMonthWeek').val();
        var wf = $('#ddlWeekFrom').val();
        var wt = $('#ddlWeekTo').val();

        $.ajax({
            url: '@Url.Action("getWOSGraphPerAP1andAccountByProduct")',
            async: false,
            data: {
                MonthMappingFrom: $("#ddlMonthMappingFrom").val(),
                MonthMappingTo: $("#ddlMonthMappingTo").val(),
                YearMappingFrom: $('#ddlYearMappingFrom').val(),
                ProductGroup: pg,
                Product: product,
                GSCMAccount: ga,
                AP1: ap1,
                WeekFrom: wf,
                WeekTo: wt,
                MonthWeek: mw,

            },
            success: function (data) {
                //$('#dataContent').html(data);

                //if (productCode.includes("/")) {
                //    productCode = "AC"
                //}
                var innerDiv2 = document.createElement('div');
                innerDiv2.id = "PRODUCT" + product;
                innerDiv2.innerHTML = data;

                var chartDiv2 = document.createElement('div');
                chartDiv2.id = 'chart_' + product;

                document.getElementById('dataContent2').append(chartDiv2);
                document.getElementById('dataContent2').append(innerDiv2);



                wosPlotPerProduct(chartDiv2.id, innerDiv2.id,pg, product);
            }
        });

    };

    function wosPlotPerProduct(chartID, innerDivTable, productgroup, myproduct) {
        var tableCols = $("#" + innerDivTable + " #WOStableDataPerAP1andAccountPerProduct").find('th');
        var ListOfHeaders = [];
        var ListOfRows = [];
        var ListOfHeadersNotIncluded = [];
        if (tableCols.length > 0) {
            var ctr = 0;
            tableCols.each(function () {
                //if (ctr == 0) {
                //    ctr++;
                //    return;
                //}
                if ($(this).text().trim().toLowerCase() == "category") {
                    ListOfHeadersNotIncluded.push(ctr);
                    console.log("cat");
                }
                else {
                    ListOfHeaders.push($(this).text().trim());
                }
                ctr++;
            });
        }


        var sellinArray = [];
        var selloutArray = [];
        var wosArray = [];
        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccountPerProduct tbody tr:eq(1)").each(function () {
            var arrayOfThisRow = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                //if (ctr == 0) {
                //    ctr++;
                //    return;
                //}
                if (ListOfHeadersNotIncluded.includes(ctr)) {
                } else {
                    var value = $(this).text().trim();
                    sellinArray.push(value);
                }
                ctr++;
            });
        });
        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccountPerProduct tbody tr:eq(2)").each(function () {
            var value = "";
            var arrayOfThisRow = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                //if (ctr == 0) {
                //    ctr++;
                //    return;
                //}
                if (ListOfHeadersNotIncluded.includes(ctr)) {

                } else {
                    value = $(this).text().trim();
                    selloutArray.push(value);
                }
                ctr++;
            });
        });

        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccountPerProduct tbody tr:eq(3)").each(function () {
            var value = "";
            var arrayOfThisRow = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                //if (ctr == 0) {
                //    ctr++;
                //    return;
                //}
                if (ListOfHeadersNotIncluded.includes(ctr)) {
                } else {
                    value = $(this).text().trim();
                    wosArray.push(value);
                }
                ctr++;
            });
        });

        var valueswos = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valueswos11 = [];
            console.log(ListOfHeaders[i]);
            console.log(wosArray[i]);
            valueswos11.push(ListOfHeaders[i].trim());
            valueswos11.push(wosArray[i].trim());
            valueswos.push(valueswos11);
        }
        var valuessellin = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valuessellin11 = [];
            valuessellin11.push(ListOfHeaders[i].trim());
            valuessellin11.push(parseInt(sellinArray[i].trim()));
            valuessellin.push(valuessellin11);
        }
        var valuessellout = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valuessellout11 = [];
            valuessellout11.push(ListOfHeaders[i].trim());
            valuessellout11.push(parseInt(selloutArray[i].trim()));
            valuessellout.push(valuessellout11);
        }

        var width = $('#' + chartID).width();
        var number_of_data_points = ListOfHeaders.length;
        width = width / number_of_data_points;
        width = (width * 50) / 100;

        var jsonArray = [];
        var wosval = [];
        var sellinval = [];
        var selloutval = [];

        $('#' + innerDivTable + " #WOStableDataPerAP1andAccountPerProduct tbody tr").each(function () {
            var tableDataLabel = $(this).find('td:first-child');
            tableDataLabel.each(function () {
                if ($(tableDataLabel[0]).text().trim() == "INVENTORY") {
                    return;
                }
                else if ($(tableDataLabel[0]).text().trim() == "SELL-IN") {
                    sellinval.push($(this).text().trim());
                }
                else if ($(tableDataLabel[0]).text().trim() == "SELL-OUT") {
                    selloutval.push($(this).text().trim());
                }
                else if ($(tableDataLabel[0]).text().trim() == "WOS (F4)") {
                    wosval.push($(this).text().trim());
                }
            });

        });


        var seriesColorArray = [];
        var prodGroup = productgroup;

        if (prodGroup == 'REF') {
            seriesColorArray.push('#d9d9d9', '#3333ff', '#000080');

        } else if (prodGroup == 'WM') {
            seriesColorArray.push('#d9d9d9', '#ffc14d', '#ff751a');
        } else if (prodGroup == 'AC') {
            seriesColorArray.push('#d9d9d9', '#99e600', '#558000');
        }
        else if (prodGroup == 'MWO') {
            seriesColorArray.push('#d9d9d9', '#ffff00', '#999900');
        }



        jsonArray.push(wosval);
        jsonArray.push(sellinval);
        jsonArray.push(selloutval);

        console.log(valueswos);
        console.log(valuessellin);
        console.log(valuessellout);
        console.log(chartID);

        plot1 = $.jqplot(chartID, [valueswos, valuessellin, valuessellout], {
            height: 500,
            title: productgroup + "-" + myproduct,
            animate: true,
            animateReplot: true,
            cursor: {
                show: true,
                zoom: false,
                looseZoom: false,
                showTooltip: false
            },
            seriesDefaults: {
                rendererOptions: {
                    smooth: true
                }
            },
            series: [
                {
                    pointLabels: {
                        show: true
                    },
                    renderer: $.jqplot.BarRenderer,
                    showHighlight: true,
                    yaxis: 'y2axis',
                    rendererOptions: {

                        animation: {
                            speed: 2500
                        },
                        barWidth: width,
                        highlightMouseOver: false
                    }
                },

            ],
            seriesColors: seriesColorArray,
            legend: {
                renderer: $.jqplot.EnhancedLegendRenderer,
                labels: jsonArray,
                show: true,
                location: 'w',
                placement: 'outsideGrid'
            },
            axes: {
                xaxis: {
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    drawMajorGridlines: true,
                    drawMinorGridlines: true,
                    drawMajorTickMarks: true,
                    renderer: $.jqplot.CategoryAxisRenderer,

                    tickOptions: {

                        angle: -30,
                        fontSize: '1.5em',
                        textColor: '#000000',
                        fontFamily: '"Trebuchet MS",Arial,Helvetica,sans-serif'
                    },
                },
                grid: {
                    drawGridlines: true
                },
                yaxis: {
                    pad: 0,
                    autoscale: true
                },
                y2axis: {
                    pad: 0.00,
                    tickOptions: {
                        formatString: "%#.2f"
                    },

                    //autoscale: true,
                    rendererOptions: {
                        alignTicks: true,
                    }
                }
            },
            highlighter: {
                show: true,
                showLabel: true,
                tooltipAxes: 'y',
                sizeAdjust: 7.5,
                tooltipLocation: 'ne'
            }
        });

    };




    function WOSGraphPerModel() {
        var productModel = [];
        productModel = $('#ddlModel').val();

        var childCount = $('#dataContent3').children().length;
        if (childCount != 0) {
            $('#dataContent3').children().remove();
        }
        var pg = $('#ddlProductGroup').val();
        var product = $('#ddlProduct').val();
        //var mymodel = $('#ddlModel').val();
        var ap1 = $('#ddlAP1').val().join(",").trim().replace(/'/g, "''''");
        var ga = $('#ddlGSCMAccount').val().join(",").trim().replace(/'/g, "''''").replace("-", "");
        var mw = $('#ddlMonthWeek').val();
        var wf = $('#ddlWeekFrom').val();
        var wt = $('#ddlWeekTo').val();
        //if (prodCode == 0) {
        //    $('#ddlProductGroup option').each(function () {
        //        var pro = $(this).val();

        for(var i= 0; i < productModel.length; i++)
        {
            $.ajax({
                url: '@Url.Action("WOSGraphPerModel")',
                async: false,
                data: {
                    MonthMappingFrom: $("#ddlMonthMappingFrom").val(),
                    MonthMappingTo: $("#ddlMonthMappingTo").val(),
                    YearMappingFrom: $('#ddlYearMappingFrom').val(),
                    //YearMappingTo: $('#ddlYearMappingTo').val(),
                    ProductGroup: pg,
                    GSCMAccount: ga,
                    Product: product,
                    myModel: productModel[i],
                    AP1: ap1,
                    MonthWeek: mw,
                    WeekFrom: wf,
                    WeekTo: wt,
                },
                success: function (data) {
                    //$('#dataContent').html(data);

                    //if (productCode.includes("/")) {
                    //    productCode = "AC"
                    //}
                    //if (productModel.includes("/")) {
                    //    productModel.replace(/[.^$*+?()[{\|]/g, '\\$&', '');
                    //}
                        var innerDiv3 = document.createElement('div');
                        innerDiv3.id = "MODEL" + i;
                        innerDiv3.innerHTML = data;

                        var chartDiv3 = document.createElement('div');
                        chartDiv3.id = 'chart_Model' + i;

                        document.getElementById('dataContent3').append(chartDiv3);
                        document.getElementById('dataContent3').append(innerDiv3);


                        wosPlotPerModel(chartDiv3.id, innerDiv3.id, pg, product, productModel[i].replace("/", ""));

                }
            });
            //});

        }

        @*else {

            for (i = 0; i <= product.length - 1 ; i++) {
                var myProduct = prodCode[i];
                $.ajax({
                    url: '@Url.Action("getProductByProductGroup")',
                    async: false,
                    data: {
                        ProductGroup: pro
                    },
                    success: function (data) {
                        for (var ctr = 0; ctr < data.length; ctr++) {

                            $.ajax({
                                url: '@Url.Action("getModelByProduct")',
                                async: false,
                                data: {
                                    Product: data[ctr].Product,
                                },
                                success: function (dataModel) {
                                    for (var ctrr = 0; ctrr < dataModel.length; ctrr++) {
                                        var myModel = "MODEL" + pro + ctrr;
                                        $.ajax({
                                            url: '@Url.Action("WOSGraphPerModel")',
                                            async: false,
                                            data: {
                                                Model: dataModel[ctrr].Model,
                                                Product: data[ctr].Product,
                                                MonthMappingFrom: $("#ddlMonthMappingFrom").val(),
                                                MonthMappingTo: $("#ddlMonthMappingTo").val(),
                                                YearMappingFrom: $('#ddlYearMappingFrom').val(),
                                                ProductGroup: pro,
                                                GSCMAccount: ga,
                                                AP1: ap1,
                                                MonthWeek: mw,
                                                WeekFrom: wf,
                                                WeekTo: wt,
                                            },
                                            success: function (myresult) {
                                                var innerDiv3 = document.createElement('div');
                                                innerDiv3.id = myModel;
                                                innerDiv3.innerHTML = myresult;

                                                var chartDiv3 = document.createElement('div');
                                                chartDiv3.id = 'chart_' + myModel;

                                                document.getElementById('dataContent3').append(chartDiv3);
                                                document.getElementById('dataContent3').append(innerDiv3);

                                                wosPlotPerModel(chartDiv3.id, innerDiv3.id, productCode, data[ctr].Product, dataModel[ctrr].Model);
                                            }
                                        });
                                    }




                                }
                            });


                        }
                    }

                });


            }
        }*@
    };

    function wosPlotPerModel(chartID, innerDivTable, productCode, myproduct, myModel) {
        console.log(chartID);
        var tableCols = $("#" + innerDivTable + " #WOStableDataPerAP1andAccountPerModel").find('th');
        var ListOfHeaders = [];
        var ListOfRows = [];
        var ListOfHeadersNotIncluded = [];
        if (tableCols.length > 0) {
            var ctr = 0;
            tableCols.each(function () {
                //if (ctr == 0) {
                //    ctr++;
                //    return;
                //}
                if ($(this).text().trim().toLowerCase() == "category") {
                    ListOfHeadersNotIncluded.push(ctr);
                    console.log("cat");
                }
                else {
                    ListOfHeaders.push($(this).text().trim());
                }
                ctr++;
            });
        }


        var sellinArray = [];
        var selloutArray = [];
        var wosArray = [];
        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccountPerModel tbody tr:eq(1)").each(function () {
            var arrayOfThisRow = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                //if (ctr == 0) {
                //    ctr++;
                //    return;
                //}
                if (ListOfHeadersNotIncluded.includes(ctr)) {
                } else {
                    var value = $(this).text().trim();
                    sellinArray.push(value);
                }
                ctr++;
            });
        });
        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccountPerModel tbody tr:eq(2)").each(function () {
            var value = "";
            var arrayOfThisRow = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                //if (ctr == 0) {
                //    ctr++;
                //    return;
                //}
                if (ListOfHeadersNotIncluded.includes(ctr)) {

                } else {
                    value = $(this).text().trim();
                    selloutArray.push(value);
                }
                ctr++;
            });
        });

        $('#' + innerDivTable + " table#WOStableDataPerAP1andAccountPerModel tbody tr:eq(3)").each(function () {
            var value = "";
            var arrayOfThisRow = [];
            var tableData = $(this).find('td');
            var ctr = 0;
            tableData.each(function () {
                //if (ctr == 0) {
                //    ctr++;
                //    return;
                //}
                if (ListOfHeadersNotIncluded.includes(ctr)) {
                } else {
                    value = $(this).text().trim();
                    wosArray.push(value);
                }
                ctr++;
            });
        });

        var valueswos = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valueswos11 = [];
            console.log(ListOfHeaders[i]);
            console.log(wosArray[i]);
            valueswos11.push(ListOfHeaders[i].trim());
            valueswos11.push(wosArray[i].trim());
            valueswos.push(valueswos11);
        }
        var valuessellin = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valuessellin11 = [];
            valuessellin11.push(ListOfHeaders[i].trim());
            valuessellin11.push(parseInt(sellinArray[i].trim()));
            valuessellin.push(valuessellin11);
        }
        var valuessellout = [];
        for (var i = 0; i < ListOfHeaders.length; i++) {
            var valuessellout11 = [];
            valuessellout11.push(ListOfHeaders[i].trim());
            valuessellout11.push(parseInt(selloutArray[i].trim()));
            valuessellout.push(valuessellout11);
        }

        var width = $('#' + chartID).width();
        var number_of_data_points = ListOfHeaders.length;
        width = width / number_of_data_points;
        width = (width * 50) / 100;

        var jsonArray = [];
        var wosval = [];
        var sellinval = [];
        var selloutval = [];

        $('#' + innerDivTable + " #WOStableDataPerAP1andAccountPerModel tbody tr").each(function () {
            var tableDataLabel = $(this).find('td:first-child');
            tableDataLabel.each(function () {
                if ($(tableDataLabel[0]).text().trim() == "INVENTORY") {
                    return;
                }
                else if ($(tableDataLabel[0]).text().trim() == "SELL-IN") {
                    sellinval.push($(this).text().trim());
                }
                else if ($(tableDataLabel[0]).text().trim() == "SELL-OUT") {
                    selloutval.push($(this).text().trim());
                }
                else if ($(tableDataLabel[0]).text().trim() == "WOS (F4)") {
                    wosval.push($(this).text().trim());
                }
            });

        });


        var seriesColorArray = [];
        var prodGroup = productCode;

        if (prodGroup == 'REF') {
            seriesColorArray.push('#d9d9d9', '#3333ff', '#000080');

        } else if (prodGroup == 'WM') {
            seriesColorArray.push('#d9d9d9', '#ffc14d', '#ff751a');
        } else if (prodGroup == 'AC') {
            seriesColorArray.push('#d9d9d9', '#99e600', '#558000');
        }
        else if (prodGroup == 'MWO') {
            seriesColorArray.push('#d9d9d9', '#ffff00', '#999900');
        }



        jsonArray.push(wosval);
        jsonArray.push(sellinval);
        jsonArray.push(selloutval);

        console.log(valueswos);
        console.log(valuessellin);
        console.log(valuessellout);
        console.log(chartID);

        plot1 = $.jqplot(chartID, [valueswos, valuessellin, valuessellout], {
            height: 500,
            title: productCode + "-" + myproduct + "-" + myModel,
            animate: true,
            animateReplot: true,
            cursor: {
                show: true,
                zoom: false,
                looseZoom: false,
                showTooltip: false
            },
            seriesDefaults: {
                rendererOptions: {
                    smooth: true
                }
            },
            series: [
                {
                    pointLabels: {
                        show: true
                    },
                    renderer: $.jqplot.BarRenderer,
                    showHighlight: true,
                    yaxis: 'y2axis',
                    rendererOptions: {

                        animation: {
                            speed: 2500
                        },
                        barWidth: width,
                        highlightMouseOver: false
                    }
                },

            ],
            seriesColors: seriesColorArray,
            legend: {
                renderer: $.jqplot.EnhancedLegendRenderer,
                labels: jsonArray,
                show: true,
                location: 'w',
                placement: 'outsideGrid'
            },
            axes: {
                xaxis: {
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    drawMajorGridlines: true,
                    drawMinorGridlines: true,
                    drawMajorTickMarks: true,
                    renderer: $.jqplot.CategoryAxisRenderer,

                    tickOptions: {

                        angle: -30,
                        fontSize: '1.5em',
                        textColor: '#000000',
                        fontFamily: '"Trebuchet MS",Arial,Helvetica,sans-serif'
                    },
                },
                grid: {
                    drawGridlines: true
                },
                yaxis: {
                    pad: 0,
                    autoscale: true
                },
                y2axis: {
                    pad: 0.00,
                    tickOptions: {
                        formatString: "%#.2f"
                    },

                    //autoscale: true,
                    rendererOptions: {
                        alignTicks: true,
                    }
                }
            },
            highlighter: {
                show: true,
                showLabel: true,
                tooltipAxes: 'y',
                sizeAdjust: 7.5,
                tooltipLocation: 'ne'
            }
        });

    };








</script>
