﻿@model IEnumerable<SEPCO_SODOIT.Models.GSCMAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b class="glyphicon glyphicon-list"></b> GSCM ACCOUNT MANAGEMENT</h2>

<p>
    <a href="@Url.Action("Create","GSCMAccount")" class="btn btn-primary"><b class="glyphicon glyphicon-plus"></b> Add New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr style="background:#0689d8;color:white;">
            <th>
                <label>GSCM Account ID</label>
            </th>
            <th>
                <label>Account Name</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GSCMAccountID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "GSCMAccount", new { id= item.RecID})" class="btn-sm btn-success"><b class="glyphicon glyphicon-edit"></b></a>


                    <a href="@Url.Action("Delete", "GSCMAccount", new { id = item.RecID })" class="btn-sm btn-danger"><b class="glyphicon glyphicon-remove"></b></a>

                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>