﻿@model SEPCO_SODOIT.Models.AP1Group

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b class="glyphicon glyphicon-remove"></b> Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AP1 Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>AP1 Group ID</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AP1GroupID)
        </dd>
        <dt>
            <label>AP1 Group Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP1GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
