﻿@using PagedList.Mvc;
@using PagedList;

@* file uploader *@
<h4>Master Files Upload</h4>

@using (Html.BeginForm("ImportExcel", "MasterFiles", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-inline">
        <div class="form-group">
            <select id="TransactionFileList" class="form-control" name="TransactionFileList">
                <option value="0">-Select Master File to Upload-</option>
                <option value="DealerAndAccountMappingMF">Dealer & Account Mapping Master File</option>
                <option value="ModelAttributeMF">Model Attributes Master File</option>
                <option value="ModelManagementMappingMF">Model Management Mapping Master File</option>
                <option value="ProductGroupAttributesMF">Product Group Attributes Master File</option>
                <option value="StoreListAttributesMF">Store List Attribute Master File</option>
                <option value="WeekToMonthRatioMF">Week-To-Month Ratio Master File</option>
                <option value="WOSTargetMF">WOS Target Master File</option>
                <option value="YearDateMappingMF">Year-Date Mapping Master File</option>
            </select>
        </div>
        <div class="form-group">
            <input type="file" id="dataFile" name="upload" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
}
<hr />
@* list of transactions *@
<table class="table table-responsive">
    <thead style="background:#0689d8;color:white;">
        <tr>
            <th>
                ID
            </th>
            <th>
                File
            </th>
            <th>
                Date Created
            </th>
            <th>
                Created By
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in ViewBag.OnePageOfItems)
        {
            <tr>
                <th>@items.ID</th>
                <th>@items.File</th>
                <th>@items.DateCreated</th>
                <th>@items.CreatedBy</th>
                <th><a href='@Url.Action("Delete", new { TransID = items.ID, FileType = items.File })' class="btn btn-danger">Delete</a> &nbsp;<a href='@Url.Action("Download", new { TransID = items.ID, FileType = items.FileType })' class="btn btn-info">Download</a></th>
            </tr>
        }
    </tbody>
</table>


<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfItems, page => Url.Action("Index", new { page }))
