﻿@model SEPCO_SODOIT.Models.MF_DealerAndAccountMapping

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dealer and Account Mapping</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SiteGroupID, htmlAttributes: new { @class = "control-label col-md-2" })
          
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiteGroupID, new { htmlAttributes = new { @class = "form-control", @id = "SiteGroupID", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.SiteGroupID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiteGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SiteGroup", ViewBag.SiteGroup as SelectList, "Select", new { @class = "form-control", @id = "SiteGroup" })
                @Html.ValidationMessageFor(model => model.SiteGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dealer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Dealer", ViewBag.Dealer as SelectList, new { @class = "form-control", @id = "ddlDealer" })
                @Html.ValidationMessageFor(model => model.Dealer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GSCMAccountID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GSCMAccountID, new { htmlAttributes = new { @class = "form-control", @id = "gscmaccountID", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.GSCMAccountID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GSCMAccount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GSCMAccount", ViewBag.GSCMAccount as SelectList, "Select", new { @class = "form-control", @id = "GSCMAccountID" })
                @*@Html.DropDownList("GSCMAccountID", ViewBag.GSCMAccount as SelectList, new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.GSCMAccount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AP1ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AP1ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AP1ID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#GSCMAccountID').change(function () {
            //var url = "/MFDealerAccountMapping/getGSCMAccountID";
            $.ajax({
                url: '@Url.Action("getGSCMAccountID", "MFDealerAccountMapping")',
                type: "POST",
                data: { "account": $('#GSCMAccountID').val() },
                success: function (data) {
                    console.log(data);
                    if (data != null) {

                        $("#gscmaccountID").val(data[0].id);

                    }



                }
            });

        });

        $('#SiteGroup').change(function () {
            //var url = "/MFDealerAccountMapping/getGSCMAccountID";
            $.ajax({
                url: '@Url.Action("getSiteGroupID", "MFDealerAccountMapping")',
                type: "POST",
                data: { "sitegroup": $('#SiteGroup').val() },
                success: function (data) {
                    console.log(data);
                    if (data != null) {

                        $("#SiteGroupID").val(data[0].id);

                    }



                }
            });

        });
    });


</script>
