﻿@model SEPCO_SODOIT.Models.MF_DealerAndAccountMapping

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MFDealerAccountMapping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteGroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dealer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dealer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSCMAccountID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSCMAccountID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSCMAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSCMAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP1ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP1ID)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsUploaded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUploaded)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.TransactionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
