﻿@model IEnumerable<SEPCO_SODOIT.Models.MF_DealerAndAccountMapping>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b class="glyphicon glyphicon-list"></b> DEALER ACCOUNT MAPPING</h2>

<p>
    <a href="@Url.Action("Create","MFDealerAccountMapping")" class="btn btn-primary"><b class="glyphicon glyphicon-plus"></b> Add New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr style="background:#0689d8;color:white;">
            <th>
                <label>Site Group ID</label>
            </th>
            <th>
                <label>Site Group</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dealer)
            </th>
            <th>
                <label>GSCM Account ID</label>
            </th>
            <th>
                <label>GSCM Account</label>
            </th>
            <th>
                <label>AP1 ID</label>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteGroupID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dealer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GSCMAccountID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GSCMAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AP1ID)
                </td>

                <td>
                    <a href="@Url.Action("Edit", "MFDealerAccountMapping", new { id = item.RecID })" class="btn-sm btn-success"><b class="glyphicon glyphicon-edit"></b></a>
                    <a href="@Url.Action("Delete", "MFDealerAccountMapping", new { id = item.RecID })" class="btn-sm btn-danger"><b class="glyphicon glyphicon-remove"></b></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>