﻿
@using PagedList.Mvc;
@using PagedList;

@* list of transactions *@
<table class="table table-responsive">
    <thead style="background:#0689d8;color:white;">
        <tr>
            <th>
                ID
            </th>
            <th>
                File
            </th>
            <th>
                Date Created
            </th>
            <th>
                Created By
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in ViewBag.OnePageOfItems)
        {
            <tr>
                <th>@items.ID</th>
                <th>@items.FileLocation</th>
                <th>@items.DateCreated</th>
                <th>@items.CreatedBy</th>
                <th><a id="@items.FileLocation" href="#" class="grid-btn btn-success dl-modal FORM_NEW_BUTTON" title="File download" style="padding: 3px 8px; padding-top: 4px;"><i class="fa fa-download"></i><span> Download</span></a></th>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfItems, page => Url.Action("Index", new { page }))

<script type="text/javascript">
    $(document).ready(function () {
        var ObjLoader = '<div class="loading">&nbsp;</div>';

        $(".dl-modal").click(function (e) {
            var obj1 = $(".dl-modal");
            e.preventDefault();
            var url1 = '@Url.Action("DownloadSimulationFile")';
            var filename = $(".dl-modal").attr("id");
            var url = url1 + "?fileName=" + filename;
            window.open(url, "_self");
        });
    });
</script>