﻿<div class="form-group row hidden">
    <label for="staticEmail" class="col-sm-2 col-form-label">Sales</label>
    <div class="col-sm-10">
        <select id="salesList" multiple="multiple" style="display:none">
            @*<optgroup label="LUZON_S">
                    <option>Account1</option>
                    <option>Account2</option>
                </optgroup>
                <optgroup label="MM_1">
                    <option>SM APPLIANCE</option>
                    <option>WESTERN</option>
                </optgroup>*@
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Product Group</label>
    <div class="col-sm-10">
        <select id="pGroupList" multiple="multiple" style="display:none">
            <optgroup label="TV">
                <option>TV</option>
            </optgroup>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Product Type</label>
    <div class="col-sm-10">
        <select id="pTypeList" multiple="multiple" style="display:none"></select>
    </div>
</div>
<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Model</label>
    <div class="col-sm-10">
        <select id="pModelList" multiple="multiple" style="display:none"></select>
    </div>
</div>
<div class="form-row row">
    <div class="form-group col-md-6">
        <label for="inputEmail4">Date From</label>
        <input type="date" class="form-control" id="dtFrom" placeholder="Date" value="10/02/2017">
    </div>
    <div class="form-group col-md-6">
        <label for="inputPassword4">Date To</label>
        <input type="date" class="form-control" id="dtTo" placeholder="Date" value="11/01/2017">
    </div>
</div>
<div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Product Group Attributes</label>
    <div class="col-sm-10">
        <select id="pGroupAttriList" multiple="multiple" style="display:none"></select>
    </div>
</div>
<div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-10">
        <select id="catList" multiple="multiple">
            @*<option value="optionAll">All</option>*@
            <option>BOH</option>
            <option>Arrival</option>
            <option>Aging</option>
            <option>Demand</option>
            <option>AP1</option>
            <option>AP2-AP1 Balance</option>
            <option>RTF</option>
            <option>SP2</option>
            <option>SP1</option>
            <option>SP2-SP1 Balance</option>
            <option>Inventory AP2/SP2</option>
            <option>Inventory AP1/SP1</option>
            <option>WOS AP2/SP2 (F4)</option>
            <option>WOS AP1/SP1 (F4)</option>
            <option>Run Rate</option>
            <option>Flooring Target</option>
            <option>Flooring Actual</option>
            <option>N.Price</option>
        </select>
    </div>
</div>
<label>Preview</label>
<div class="row" style="border:1px solid black">
    <table class="table table-responsive dragtable" id="preview">
        <thead>
            <tr id="previewthead">
                <th data-item="Type">Type</th>
                <th data-item="Item">Item</th>
                <th data-item="Category">Category</th>
            </tr>
        </thead>
        <tbody>
            <tr id="previewtbody">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //initialize chosen
        $('#pGroupList').chosen({ width: '100%', height: '40px' });
        $('#salesList').chosen({ width: '100%', height: '40px' });
        $('#pGroupAttriList').chosen({ width: '100%', height: '40px' });
        $('#pTypeList').chosen({ width: '100%', height: '40px' });
        $('#pModelList').chosen({ width: '100%', height: '40px' });
        $('#dtFrom').datepicker();
        $('#dtTo').datepicker();

        //initialize dragtable
        $('#preview').dragtable();

        //populate
        getDAProdGroup();
        getGSCMAccounts();

        $('#catList').change(function () {
            if ($(this).val() == 'optionAll') {
                // Do something for option "b"
                $('#catList option').prop('selected', true);
                $('#catList option:eq(0)').prop('selected', false);

                $('#catList').trigger('chosen:updated');
            }
        });
        //LoadPastFilter();

        //
        //var chosen = $('#catList').chosen({ width: '100%', height: '40px' }).data('chosen');
        var chosen = $('#catList').SumoSelect({
            selectAll: true,
            isClickAwayOk: true,
            okCancelInMulti: true,
            search: true,
            width: '100%'
        });
        var autoClose = false;
        var chosen_resultSelect_fn = chosen.result_select;
        chosen.search_contains = true;
        chosen.result_select = function (evt) {
            var resultHighlight = null;
            if (autoClose === false) {
                evt['metaKey'] = true;
                evt['ctrlKey'] = true;
                resultHighlight = chosen.result_highlight;
            }
            var stext = chosen.get_search_text();
            var result = chosen_resultSelect_fn.call(chosen, evt);
            if (autoClose === false && resultHighlight !== null)
                resultHighlight.addClass('result-selected');

            this.search_field.val(stext);
            this.winnow_results();
            this.search_field_scale();

            return result;
        };

        // Add select/deselect all toggle to optgroups in chosen
        $(document).on('click', '.group-result', function () {
            // Get unselected items in this group
            var unselected = $(this).nextUntil('.group-result').not('.result-selected');
            if (unselected.length) {
                // Select all items in this group
                unselected.trigger('mouseup');
            } else {
                $(this).nextUntil('.group-result').each(function () {
                    // Deselect all items in this group
                    $('a.search-choice-close[data-option-array-index="' + $(this).data('option-array-index') + '"]').trigger('click');
                });
            }
        });
        $('#pGroupList').on('chosen:updated', function (event) {
            //    alert("b");
            var chosenData = $("#pGroupList").val();
            $("#pGroupAttriList").html('');
            //console.log(chosenData);
            if (chosenData == null) {
                return;
            }
            //$("#pGroupAttriList").html('');//.trigger("chosen:updated");
            $.each(chosenData, function (i, val) {
                var url = '@Url.Action("GetProductGroupAttributes")';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: { pGroup: val },
                    success: function (data) {
                        var html = '<optgroup label="' + val + '">';
                        $.each(data, function (i, val) {
                            html += '<option value="' + val.Description + '">' + val.Description + '</option>';
                        });
                        html += "</optgroup>";
                        $("#pGroupAttriList").append(html);
                        $("#pGroupAttriList").trigger("chosen:updated");
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.status + " ( " + error + " )");
                    }
                });
            });
        });
        //populate product group attributes and product type list on change of product group
        $("#pGroupList").chosen().change(function (event, params) {
            if ('selected' in params) {
                var url = '@Url.Action("GetProductGroupAttributes")';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: { pGroup: params.selected },
                    success: function (data) {
                        var html = '<optgroup label="' + params.selected + '">';
                        $.each(data, function (i, val) {
                            html += '<option value="' + val.Description + '">' + val.Description + '</option>';
                        });
                        html += "</optgroup>";
                        $("#pGroupAttriList").append(html);
                        $("#pGroupAttriList").trigger("chosen:updated");
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.status + " ( " + error + " )");
                    }
                });
                url = '@Url.Action("GetProductTypeList")';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: { pGroup: params.selected },
                    success: function (data) {
                        var html = '<optgroup label="' + params.selected + '">';
                        $.each(data, function (i, val) {
                            html += '<option value="' + val.Type + '">' + val.Type + '</option>';
                        });
                        html += "</optgroup>";
                        $("#pTypeList").append(html);
                        $("#pTypeList").trigger("chosen:updated");
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.status + " ( " + error + " )");
                    }
                });
            }
            if ('deselected' in params) {
                $("#pGroupAttriList optgroup[label='" + params.deselected + "']").remove();
                $("#pGroupAttriList").trigger("chosen:updated");

                $("#pTypeList optgroup[label='" + params.deselected + "']").remove();
                $("#pTypeList").trigger("chosen:updated");
            }
        });
        //populate model on change of product type list
        @*$("#pTypeList").chosen().change(function () {
            var chosenData = $("#pTypeList").val();
            $("#pModelList").html('');
            $("#pModelList").trigger("chosen:updated");
            if (chosenData == null) {
                return;
            }//$("#pGroupAttriList").html('');//.trigger("chosen:updated");
            $.each(chosenData, function (i, val) {
                var url = '@Url.Action("GetModelListByType")';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: { pType: val },
                    success: function (data) {
                        var html = '<optgroup label="' + val + '">';
                        $.each(data, function (i, val) {
                            html += '<option value="' + val.Model + '">' + val.Model + '</option>';
                        });
                        html += "</optgroup>";
                        $("#pModelList").append(html);
                        $("#pModelList").trigger("chosen:updated");
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.status + " ( " + error + " )");
                    }
                });
            });

        });*@
        $("#pTypeList").chosen().change(function (event, params) {
            if ('selected' in params) {
                var url = '@Url.Action("GetModelListByType")';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: { pType: params.selected },
                    success: function (data) {
                        var html = '<optgroup label="' + params.selected + '">';
                        $.each(data, function (i, val) {
                            html += '<option value="' + val.Model + '">' + val.Model + '</option>';
                        });
                        html += "</optgroup>";
                        $("#pModelList").append(html);
                        $("#pModelList").trigger("chosen:updated");
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.status + " ( " + error + " )");
                    }
                });
            }
            if ('deselected' in params) {
                $("#pModelList optgroup[label='" + params.deselected + "']").remove();
                $("#pModelList").trigger("chosen:updated");
            }
        });
        //add or remove column in the preview table on change of product group attributes
        $("#pGroupAttriList").chosen().change(function (event, params) {
            //if ($("#pGroupAttriList").val() == null)
            //    return;
            if ('selected' in params) {
                var chosenData = $("#pGroupAttriList").val()[$("#pGroupAttriList").val().length - 1];
                $("#previewthead").append("<th data-name='" + chosenData + "'>" + chosenData + "</th>");
                $("#previewtbody").append("<td>" + ($("#previewthead > th").length) + "</td>");
                $("#preview").dragtable('destroy').dragtable();
            }
            if ('deselected' in params) {
                remove(params.deselected, "preview");
            }
        });
        //remove column in the preview table on change of product group attributes
        function remove(str, table) {
            //console.log(str);
            // Get target th with the name you want to remove.
            var target = $('#' + table).find('th[data-name="' + str + '"]');
            // Find its index among other ths
            var index = (target).index();
            // For each tr, remove all th and td that match the index.
            $('#' + table + ' tr').find('th:eq(' + index + '),td:eq(' + index + ')').remove();
        }
        //load product group drop down
        function getDAProdGroup() {
            var url = '@Url.Action("GetProductGroup")'
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    //console.log(data);
                    var html = '<optgroup label="DA">';
                    $.each(data, function (i, val) {
                        html += '<option value="' + val + '">' + val + '</option>';
                    });
                    html += "</optgroup>";
                    $("#pGroupList").append(html);
                    $("#pGroupList").trigger("chosen:updated");
                },
                error: function (xhr, status, error) {
                    alert(xhr.status + " ( " + error + " )");
                }
            });
        }
        function getGSCMAccounts() {
            var url = '@Url.Action("GetGSCMAccounts")'
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    var html = "";
                    $.each(data, function (i, val) {
                        html += '<optgroup label="' + val[0].AP1 + '">';
                        $.each(val, function (i1, val1) {
                            html += '<option value="' + val1["GSCMAccount"] + '">' + val1["GSCMAccount"] + '</option>';
                        });
                        html += "</optgroup>";
                    });
                    $("#salesList").append(html);
                    $("#salesList").trigger("chosen:updated");
                },
                error: function (xhr, status, error) {
                    alert(xhr.status + " ( " + error + " )");
                }
            });
        }


    });
</script>
