﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sepco</title>
    
     @* Added by Rogel 01-19-2018 *@
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/SumoSelect/jquery.sumoselect.js"></script>
    <link href="~/SumoSelect/sumoselect.css" rel="stylesheet" />
    <link href="~/Content/DataTables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/chosen.css" rel="stylesheet" />
    @* ========================= *@

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/chosenjs")
    @Styles.Render("~/Content/dragtable")
    @Styles.Render("~/Content/handsontable")
    @Scripts.Render("~/bundles/modernizr")

    
    <style>
        
        .navbar ul li:hover {
            background-color: /*#ADD8E6;*/ #2957A4;
        }

        b .caret {
            color: white;
        }
        .white {
            color:white;
        }
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }
    </style>
  
</head>
<body>
 @*@{
        if (Session.Count > 0)
        {
            if (Session["AccessLevel"].ToString() == "Sales Rep" && Session["BusinessGroup"].ToString() == "DA")
            {
                <script>
                    $(document).ready(function () {
                        $('#liAP2').hide();
                        $('#liGC').hide();
                        $('#liAP1Divider').hide();
                        $('#liAP2Divider').hide();
                        $('#ddladmin').hide();
                    });
                </script>
            }
            
            else if (Session["AccessLevel"].ToString() == "Project Manager")
            {
                <script>
                    $(document).ready(function () {
                        $('#liAP1').hide();
                        $('#liGC').hide();
                        $('#liAP1Divider').hide();
                        $('#liAP2Divider').hide();
                        $('#ddladmin').hide();
                    });
                </script>
            }
        }
        else
        {
            <script>
                window.location.href='@Url.Action("Index","Login")'
            </script>
        }
    }*@
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #0689d8; border: none;">
        <div class=" container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SEPCO SODOIT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color: #f9f9f9;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b style="color: #f9f9f9;">BIZ Overview</b> <b style="color: #f9f9f9;" class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Sell-In","SellInGraph", "BOSellinGraph")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Sell-Out","SellOutGraph", "BOSelloutGraph")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("WOS Review","Index", "BOWOSGraph")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Run Rate","Index", "BORunRate")</li>
                        </ul>

                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b style="color: #f9f9f9;">Biz Simulation</b> <b style="color: #f9f9f9;" class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li id="liAP1">@Html.ActionLink("AP1","Index", "BizSimulationAP1")</li>
                            <li id="liAP1Divider" class="divider"></li>
                            <li id="liAP2">@Html.ActionLink("AP2","Index", "BizSimulationAP2")</li>
                            <li id="liAP2Divider" class="divider"></li>
                            <li id="liGC">@Html.ActionLink("GC","Index", "BizSimulationGC")</li>
                                                        
                        </ul>

                    </li>


                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b style="color: #f9f9f9;">Retail Performance</b> <b style="color: #f9f9f9;" class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Store Performance","Index", "RP_StorePerformance")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("EOL Depletion","Index", "RPEOLDepletion")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("New Model Ramp Up","Index", "RPNewModelRampUp")</li>
                            
                            
                        </ul>

                    </li>


                    <li id="ddladmin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b style="color: #f9f9f9;">Administration</b><b style="color: #f9f9f9;" class="caret"></b></a>
                        <ul class="dropdown-menu">
                           
                           <li>@Html.ActionLink("User Account Management","Index", "SYS_UserManagement")</li>

                           <li class="divider"></li>

                           <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Master File Management</a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index","MFDealerAndAccountMapping")">Dealer and Account Management</a></li>
                                    <li><a href="@Url.Action("Index","MFDealerAndAccountStoreMapping")">Dealer and Store Management</a></li>
                                    <li><a href="@Url.Action("Index","MFModelManagementMapping")">Model Management</a></li>
                                    <li><a href="@Url.Action("Index","MFModelAttributes")">Model Attributes</a></li>
                                    <li><a href="@Url.Action("Index","MFStoreListAttribute")">Store List Attributes</a></li>
                                    <li><a href="@Url.Action("Index","MFProductGroupAttributes")">Product Group Attributes</a></li>
                                    <li><a href="@Url.Action("Index","MFWeekToMonthRatio")">Week-to-Month Ratio</a></li>
                                    <li><a href="@Url.Action("Index","MFYearDateMapping")">Year/Date</a></li>
                                    <li><a href="@Url.Action("Index","MFWOSTarget")">WOS Target</a></li>
                                </ul>
                            </li>

                            <li class="divider"></li>

                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">File Uploads</a>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("Master Files","Index", "MasterFiles")</li>
                                    <li>@Html.ActionLink("Transaction Files","Index", "TransactionFiles")</li>

                                </ul>
                            </li>

                            <li class="divider"></li>

                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site Content Management</a>
                                <ul class="dropdown-menu">

                                    <li><a href="@Url.Action("Index","CarouselImage")">Carousel Image Management</a></li>
                                    <li><a href="@Url.Action("Index","UserManual")">User Manual Management</a></li>
                                </ul>
                            </li>

                            <li class="divider"></li>

                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Look Up Maintenance</a>
                                <ul class="dropdown-menu">
                                    @*<li><a href="@Url.Action("Index","SYS_Dealer")">Dealer Management</a></li>*@
                                    @*<li><a href="@Url.Action("Index","SYS_GSCMAccount")">GSCM Account Management</a></li>*@
                                    @*<li><a href="@Url.Action("Index","SYS_Site")">Site Management</a></li>*@
                                    @*<li><a href="@Url.Action("Index","SYS_SiteGroup")">Site Group Management</a></li>*@
                                    @*<li><a href="@Url.Action("Index","SYS_SoldToParty")">Sold To Party Management</a></li>*@
                                    @*<li><a href="@Url.Action("Index","SYS_AP1Group")">AP1 Group Management</a></li>*@
                                    <li><a href="@Url.Action("Index","ProductType")">Product Type</a></li>
                                </ul>
                            </li>
                            

                        </ul>
                    </li>

                </ul>

                

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
    </div>

   
    @* Added by Rogel 01-19-2018 *@
    <link href="~/Scripts/jqPlot/jquery.jqplot.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/jqPlot/jquery.jqplot.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.enhancedLegendRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.highlighter.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.cursor.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.barRenderer.js"></script>  
    <script src="~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.js"></script>   
    <script src="~/Scripts/jqPlot/plugins/jqplot.pointLabels.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasAxisTickRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasTextRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.js"></script>
    <script src="~/SumoSelect/jquery.sumoselect.js"></script>

    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.dragtable.js"></script>
    <script src="~/Scripts/handsontable.full.min.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    @* ======================== *@

    @* Added by Randy 03-06-2018 *@

   @* @Scripts.Render("~/bundles/jquery")*@
   @* @Scripts.Render("~/bundles/dragtable")*@
   @* @Scripts.Render("~/bundles/chosenjs")*@
   @* @Scripts.Render("~/bundles/handsontable")*@
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/linq.min.js"></script>
    @*<script type="text/javascript" src="https://docs.handsontable.com/pro/1.14.3/bower_components/handsontable-pro/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://docs.handsontable.com/pro/1.14.3/bower_components/handsontable-pro/dist/handsontable.full.min.css">*@
</body>
</html>
